#wraper {
		text-align:;
		width:80%;
		height:83%;
		margin-top:20px;
		margin-left:120px;
		border:1px solid black;
		font-size:18px;
}
input	{
		width:300px;
		height:30px;
		}
#header {
										font-family:Times New Roman;
								font-size:35px;
								color:white;
								background:#323232;
								padding-left:10px;
								padding-top:10px;
								width:1020px;
								height:8%;
								margin-bottom:20px;
								text-align:center;
		}
.box1 	{
		padding-top:30px;
		float:left;
		 border:0px solid black;
		 width:110px;
		 height:58px;
		 padding-left:20px;
		}
.box2 	{
		padding-top:30px;
		padding-left:10px;
		text-align:left;
		float:left;
		border:0px solid black;
		width:363px;
		height:58px;
		}
.preview	{
		padding-left:40px;
		padding-top:10px;
		text-align:left;
		float:right;
		 border:0px solid black;
		 width:470px;
		 height:280px;
		}
.button{
		height:;
		margin-top:10px;
		margin-bottom:21px;
		float:right;
		width:328px;
		padding-left:700px;
		}
.footer{
		text-align:center;
		height:25px;
		padding-top:5px;
		float:right;
		width:1028px;
		border:1px solid black;
		background:#323232;
		font-size:15px;
		color:white;
		}
